In [1]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_columns', 25)

df = pd.read_json(os.path.join("..","..","data","TA_User_Review_Seoul_all_v2.json"))
df.head()

,__typename,createdDate,helpfulVotes,id,language,location.__typename,location.additionalNames.long,location.additionalNames.longOnlyParent,location.locationId,location.name,location.parent.additionalNames.long,location.parent.locationId,...,socialStatistics.isReposted,socialStatistics.isSaved,socialStatistics.likeCount,socialStatistics.repostCount,socialStatistics.tripCount,text,title,userId,userProfile.contributionCounts.sumAllUgc,userProfile.isMe,userProfile.isVerified,userProfile.userId
0,Review,2020-03-06,0,749418557,ja,LocationInformation,"Hotel Gracery Seoul, South Korea",South Korea,14159911,Hotel Gracery Seoul,"Seoul, South Korea",294197,...,False,False,0,0,0,日系のホテルなので日本語OK\n南大門も明洞も歩いて行けます\nトリプルルーム お部屋は狭め...,グレイスリーホテルソウル,E44FFBC7D1E0A97FECCCF7F8EB052E0C,8,0,0,E44FFBC7D1E0A97FECCCF7F8EB052E0C
1,Review,2020-03-01,0,748454819,en,LocationInformation,"Hotel Gracery Seoul, South Korea",South Korea,14159911,Hotel Gracery Seoul,"Seoul, South Korea",294197,...,False,False,0,0,0,I really enjoyed our stay here in Gracery Hote...,Great Hotel,F9AD0C1F6409A1574AD0AFC237D2A4CE,7,0,0,F9AD0C1F6409A1574AD0AFC237D2A4CE
2,Review,2020-02-16,0,745371386,ja,LocationInformation,"Hotel Gracery Seoul, South Korea",South Korea,14159911,Hotel Gracery Seoul,"Seoul, South Korea",294197,...,False,False,0,0,0,今回はagoda経由で予約しました。予約後に日系のホテルと知った次第です。\nチェックイン後...,安心出来ます,770775D59B126E71D38D56FAB9B95F93,57,0,0,770775D59B126E71D38D56FAB9B95F93
3,Review,2020-02-11,0,744426202,ja,LocationInformation,"Hotel Gracery Seoul, South Korea",South Korea,14159911,Hotel Gracery Seoul,"Seoul, South Korea",294197,...,False,False,0,0,0,こちらのホテルは夫婦で何度か利用させていただいてます。立地もいいですが、お風呂とトイレが別な...,やはり落ち着く,4F1BF9403CA4EB27756E0C824A088553,43,0,0,4F1BF9403CA4EB27756E0C824A088553
4,Review,2020-02-05,0,743141310,en,LocationInformation,"Hotel Gracery Seoul, South Korea",South Korea,14159911,Hotel Gracery Seoul,"Seoul, South Korea",294197,...,False,False,0,0,0,Its about 7 minutes walking distance to City H...,"Ask for higher floor, it has better city view",23EF5413495FF530151DB7E5C0FEF38D,225,0,0,23EF5413495FF530151DB7E5C0FEF38D

In [6]:
locations = df.loc[:,['location.locationId','location.name']].drop_duplicates(['location.locationId'], keep='first')
locations

        location.locationId                 location.name
0                  14159911           Hotel Gracery Seoul
80                  8587847      Four Seasons Hotel Seoul
1809               10205834  Tmark Grand Hotel Myeongdong
3186               10692374            Hotel28 Myeongdong
4278                4071465    The Grand Hotel Myeongdong
...                     ...                           ...
144376              1625995                    Bong House
144398              4095486     Ahmsadong Seonsa Joogeoji
144402              6892917         24 Guesthouse Sinchon
144405              3568978         Hyosundang Guesthouse
144406              6622691                  Itaewon Land

[6712 rows x 2 columns]

In [34]:
location_dict = locations.set_index('location.locationId').T.to_dict()
# location_dict

In [33]:
location_dict[9421565]['location.name']

'Mountain Village'

In [ ]:
location_dict

In [35]:
import pickle

# save
with open(os.path.join("..","..","data",'item_name.pickle'), 'wb') as f:
    pickle.dump(location_dict, f, pickle.HIGHEST_PROTOCOL)

# 식당 만 뽑기

In [5]:
df.columns

Index(['__typename', 'createdDate', 'helpfulVotes', 'id', 'language',
       'location.__typename', 'location.additionalNames.long',
       'location.additionalNames.longOnlyParent', 'location.locationId',
       'location.name', 'location.parent.additionalNames.long',
       'location.parent.locationId', 'location.parentGeoId',
       'location.placeType', 'photoIds', 'photos', 'rating',
       'socialStatistics.followCount', 'socialStatistics.isFollowing',
       'socialStatistics.isLiked', 'socialStatistics.isReposted',
       'socialStatistics.isSaved', 'socialStatistics.likeCount',
       'socialStatistics.repostCount', 'socialStatistics.tripCount', 'text',
       'title', 'userId', 'userProfile.contributionCounts.sumAllUgc',
       'userProfile.isMe', 'userProfile.isVerified', 'userProfile.userId'],
      dtype='object')

In [11]:
eatery = df.loc[df['location.placeType'] == 'EATERY'].loc[:,['location.locationId','location.name']].drop_duplicates(['location.locationId'], keep='first')
eatery

        location.locationId                              location.name
53208                788542                                 Marco Polo
53228               4077917              Butter Finger Pancake Gangnam
53308               9732387                                Bread Comma
53316               9379120               Myeongdong Korean Restaurant
53317              13833720  Starbucks Reserve - Yongsan Pruzio Summit
...                     ...                                        ...
134527              3894901     Starbucks Gyeongbokgung Station 3 Line
134539               948337                                Coffee Love
134587              9035619                 Haejeokseon Seafood Buffet
134588             14969071         Wolhwa Gogi - Bolamae Jikyeongjeom
134777              6771075                  Sanaeum Seoul Arts Center

[5578 rows x 2 columns]

In [14]:
eatery_dict = eatery.set_index('location.locationId').T.to_dict()
# eatery_dict

In [13]:
eatery_dict[9333997]

{'location.name': 'Pork Ji Ga'}

In [15]:
import pickle

# save
with open(os.path.join("..","..","data",'item_name_eatery.pickle'), 'wb') as f:
    pickle.dump(eatery_dict, f, pickle.HIGHEST_PROTOCOL)