# Preprocess

In [69]:
# Preprocess
import config
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

file_path = os.path.join(os.path.join("..","..","data",'YN_final_df.csv'))
file = pd.read_csv(file_path)

In [70]:
file = file.loc[:,['locationId', 'createdDate', 'is_fch', 'photonum', 'is_local','rated_count', 'average_photonum', 'average_rating', 'category_l','rating']]
file.head()

   locationId  createdDate  is_fch  ...  average_rating  category_l  rating
0      788542     20180314       0  ...            3.95           1     5.0
1      788542     20171207       0  ...            3.95           1     4.0
2      788542     20161110       0  ...            3.95           1     5.0
3      788542     20160611       0  ...            3.95           1     3.0
4      788542     20151204       0  ...            3.95           1     4.0

[5 rows x 10 columns]

In [71]:
file['user_visit_history'] = 0
file.head()

   locationId  createdDate  is_fch  ...  category_l  rating  user_visit_history
0      788542     20180314       0  ...           1     5.0                   0
1      788542     20171207       0  ...           1     4.0                   0
2      788542     20161110       0  ...           1     5.0                   0
3      788542     20160611       0  ...           1     3.0                   0
4      788542     20151204       0  ...           1     4.0                   0

[5 rows x 11 columns]

In [90]:
file = file.loc[:,['locationId', 'createdDate', 'is_fch', 'is_local','rated_count', 'average_photonum', 'average_rating', 'category_l','user_visit_history','rating']]

In [91]:
file.to_csv(os.path.join("..","..","data","YN_afm_df.csv"), index=False)

In [96]:
file.iloc[:,:9].columns

Index(['locationId', 'createdDate', 'is_fch', 'is_local', 'rated_count',
       'average_photonum', 'average_rating', 'category_l',
       'user_visit_history'],
      dtype='object')

# train

*train시 사용 columns*  
'locationId', 'createdDate', 'is_fch', 'is_local',
       'rated_count', 'average_photonum', 'average_rating', 'category_l' ,'user_visit_history'
  
*이 중 server 상에서 받을 정보*  

사용자에게 우리 데이터 중 일부 호텔(랜덤) 보여주고 이 중 간 호텔 및 호텔에 대한 평점 등을 받아,
가중치로 부여.  
-> 가본 적 있다. or 좋아하는 호텔 입력 받아  
-> 해당 id 입력으로 넘겨줘  
-> 'user_visit_history'에 * 가중치 열을 넣음

In [94]:
file = pd.read_csv(os.path.join("..","..","data","YN_afm_df.csv"))
file.iloc[:,:9]

        locationId  createdDate  ...  category_l  user_visit_history
0           788542     20180314  ...           1                   0
1           788542     20171207  ...           1                   0
2           788542     20161110  ...           1                   0
3           788542     20160611  ...           1                   0
4           788542     20151204  ...           1                   0
...            ...          ...  ...         ...                 ...
553620     6998634     20141121  ...           1                   0
553621     6998634     20141120  ...           1                   0
553622     6998634     20141118  ...           1                   0
553623     6998634     20141117  ...           1                   0
553624     6998634     20141112  ...           1                   0

[553625 rows x 9 columns]

# locationsinfo data 생성

In [93]:
! python train.py

Traceback (most recent call last):
  File "train.py", line 2, in <module>
    from preprocess import get_modified_data
  File "/Users/apple/Recommendation-Algorithms/AFM/preprocess.py", line 11, in <module>
    X.columns = config.ORIGINAL_FIELDS
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 5287, in __setattr__
    return object.__setattr__(self, name, value)
  File "pandas/_libs/properties.pyx", line 67, in pandas._libs.properties.AxisProperty.__set__
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 661, in _set_axis
    self._data.set_axis(axis, labels)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/managers.py", line 178, in set_axis
    f"Length mismatch: Expected axis has {old_len} elements, new "
ValueError: Length mismatch: Expected axis has 9 elements, new values have 10 elements

In [63]:
file_path = os.path.join("..","..","data","YN_final_df.csv")
file = pd.read_csv(file_path)
locations = file.loc[:,['locationId','place.name', 'is_fch', 'is_local',
       'rated_count', 'average_photonum', 'average_rating', 'category_l']]
locations.head()

   locationId place.name  is_fch  ...  average_photonum  average_rating  category_l
0      788542     마르코 폴로       0  ...              0.05            3.95           1
1      788542     마르코 폴로       0  ...              0.05            3.95           1
2      788542     마르코 폴로       0  ...              0.05            3.95           1
3      788542     마르코 폴로       0  ...              0.05            3.95           1
4      788542     마르코 폴로       0  ...              0.05            3.95           1

[5 rows x 8 columns]

In [64]:
locations = locations.drop_duplicates(['locationId'], keep='last')
print(locations.shape)
locations.head()

(16249, 8)

     locationId            place.name  ...  average_rating  category_l
100     4077917         버터핑거 팬케이크 강남점  ...        4.111111           1
117    13833720  스타벅스 리져브 - 용산푸르지오써밋점  ...        4.125000           1
155     9997022                  N 버거  ...        3.476190           1
176     9250108                한정식 수담  ...        4.166667           1
232     7748199                   호밀밭  ...        4.300000           1

[5 rows x 8 columns]

In [65]:
locations.to_csv(os.path.join("..","..","data","locationsinfo.csv"), index=False)