# Preprocess

In [145]:
# Preprocess
import config
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

file_path = os.path.join("data","YN_final_df.csv")
file = pd.read_csv(file_path)
file.head()

   locationId place.name  ... category_l                    land.addr
0      788542     마르코 폴로  ...          1  서울 강남구 삼성동 159-1 트레이드타워 52층
1      788542     마르코 폴로  ...          1  서울 강남구 삼성동 159-1 트레이드타워 52층
2      788542     마르코 폴로  ...          1  서울 강남구 삼성동 159-1 트레이드타워 52층
3      788542     마르코 폴로  ...          1  서울 강남구 삼성동 159-1 트레이드타워 52층
4      788542     마르코 폴로  ...          1  서울 강남구 삼성동 159-1 트레이드타워 52층

[5 rows x 16 columns]

In [146]:
file['createdDate'].apply(lambda x: int(str(x)[:4])).unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2020, 2019, 2012, 2011, 2010,
       2009, 2008, 2001, 2002, 2005, 2003, 2000, 2006, 2004, 1999, 1991,
       2007])

1990년대는 뭐지...?  
-> 90년대부터 맛집이냐... or 사라졌냐?

In [148]:
file.loc[file['createdDate'].apply(lambda x: int(str(x)[:4]))==1999]['locationId']

        locationId     place.name  ... category_l                   land.addr
177080    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차

[1 rows x 16 columns]

In [153]:
file.loc[file['createdDate'].apply(lambda x: int(str(x)[:4]))==1999]['locationId'].values[0]

36241217

wow 오래된 맛집 굿

In [155]:
file.loc[file['locationId']==file.loc[file['createdDate'].apply(lambda x: int(str(x)[:4]))==1999]['locationId'].values[0]]

        locationId     place.name  ... category_l                   land.addr
102548    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
102786    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
124417    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
135012    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
165601    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
170714    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
175162    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
175461    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
177080    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
179768    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
186368    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
198720    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
207149    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
217843    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
227253    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
227849    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
236765    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
241548    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
251475    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
256392    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
256433    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
271516    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
283580    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
304914    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
316033    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
326000    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
330127    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
336602    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
346274    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
367268    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
383277    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
383297    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
388414    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
393653    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
393676    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
404068    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
410308    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
422013    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
422022    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424896    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424982    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424983    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424984    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424985    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424986    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424987    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424989    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차
424990    36241217  모범떡볶이1976 길동점  ...          0  서울특별시 강동구 길동 415-13 강동큐브2차

[48 rows x 16 columns]

In [156]:
file.loc[file['locationId']==file.loc[file['createdDate'].apply(lambda x: int(str(x)[:4]))==1991]['locationId'].values[0]]

        locationId place.name  ... category_l                    land.addr
93741   1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
93790   1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
93844   1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
96234   1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
97438   1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
115129  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
136678  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
148641  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
156179  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
161424  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
164732  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
165199  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
165858  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
172791  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
172845  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
183252  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
211298  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
213861  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
215655  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
242038  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
245994  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
247140  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
249711  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
267918  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
270272  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
288964  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
299418  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
302356  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
312479  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
335383  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
338597  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
343808  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
348458  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
367487  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
369746  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
376210  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
385702  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
391675  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
418274  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
442046  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤
451370  1486575735        청류벽  ...          0  서울특별시 서초구 서초동 1327-29 서초파라곤

[41 rows x 16 columns]

In [70]:
file = file.loc[:,['locationId', 'createdDate', 'is_fch', 'photonum', 'is_local','rated_count', 'average_photonum', 'average_rating', 'category_l','rating']]
file.head()

   locationId  createdDate  is_fch  ...  average_rating  category_l  rating
0      788542     20180314       0  ...            3.95           1     5.0
1      788542     20171207       0  ...            3.95           1     4.0
2      788542     20161110       0  ...            3.95           1     5.0
3      788542     20160611       0  ...            3.95           1     3.0
4      788542     20151204       0  ...            3.95           1     4.0

[5 rows x 10 columns]

In [71]:
file['user_visit_history'] = 0
file.head()

   locationId  createdDate  is_fch  ...  category_l  rating  user_visit_history
0      788542     20180314       0  ...           1     5.0                   0
1      788542     20171207       0  ...           1     4.0                   0
2      788542     20161110       0  ...           1     5.0                   0
3      788542     20160611       0  ...           1     3.0                   0
4      788542     20151204       0  ...           1     4.0                   0

[5 rows x 11 columns]

In [90]:
file = file.loc[:,['locationId', 'createdDate', 'is_fch', 'is_local','rated_count', 'average_photonum', 'average_rating', 'category_l','user_visit_history','rating']]

In [91]:
file.to_csv(os.path.join("data","YN_afm_df.csv"), index=False)

In [96]:
file.iloc[:,:9].columns

Index(['locationId', 'createdDate', 'is_fch', 'is_local', 'rated_count',
       'average_photonum', 'average_rating', 'category_l',
       'user_visit_history'],
      dtype='object')

In [94]:
file = pd.read_csv(os.path.join("data","YN_afm_df.csv"))
file.iloc[:,:9]

        locationId  createdDate  ...  category_l  user_visit_history
0           788542     20180314  ...           1                   0
1           788542     20171207  ...           1                   0
2           788542     20161110  ...           1                   0
3           788542     20160611  ...           1                   0
4           788542     20151204  ...           1                   0
...            ...          ...  ...         ...                 ...
553620     6998634     20141121  ...           1                   0
553621     6998634     20141120  ...           1                   0
553622     6998634     20141118  ...           1                   0
553623     6998634     20141117  ...           1                   0
553624     6998634     20141112  ...           1                   0

[553625 rows x 9 columns]

# locationsinfo data 생성

In [63]:
file_path = os.path.join("data","YN_final_df.csv")
file = pd.read_csv(file_path)
locations = file.loc[:,['locationId','place.name', 'is_fch', 'is_local',
       'rated_count', 'average_photonum', 'average_rating', 'category_l']]
locations.head()

   locationId place.name  is_fch  ...  average_photonum  average_rating  category_l
0      788542     마르코 폴로       0  ...              0.05            3.95           1
1      788542     마르코 폴로       0  ...              0.05            3.95           1
2      788542     마르코 폴로       0  ...              0.05            3.95           1
3      788542     마르코 폴로       0  ...              0.05            3.95           1
4      788542     마르코 폴로       0  ...              0.05            3.95           1

[5 rows x 8 columns]

In [64]:
locations = locations.drop_duplicates(['locationId'], keep='last')
print(locations.shape)
locations.head()

(16249, 8)

     locationId            place.name  ...  average_rating  category_l
100     4077917         버터핑거 팬케이크 강남점  ...        4.111111           1
117    13833720  스타벅스 리져브 - 용산푸르지오써밋점  ...        4.125000           1
155     9997022                  N 버거  ...        3.476190           1
176     9250108                한정식 수담  ...        4.166667           1
232     7748199                   호밀밭  ...        4.300000           1

[5 rows x 8 columns]

In [138]:
pd.read_csv(os.path.join("data","YN_afm_df.csv")).head()

   locationId  createdDate  is_fch  ...  category_l  user_visit_history  rating
0      788542     20180314       0  ...           1                   0     5.0
1      788542     20171207       0  ...           1                   0     4.0
2      788542     20161110       0  ...           1                   0     5.0
3      788542     20160611       0  ...           1                   0     3.0
4      788542     20151204       0  ...           1                   0     4.0

[5 rows x 10 columns]

In [166]:
df = pd.read_csv(os.path.join("data","YN_afm_df.csv"))
df = df.drop(columns=['user_visit_history'],axis=1)
df = df.drop(columns=['createdDate'],axis=1)
df.head()

   locationId  is_fch  is_local  ...  average_rating  category_l  rating
0      788542       0         1  ...            3.95           1     5.0
1      788542       0         1  ...            3.95           1     4.0
2      788542       0         0  ...            3.95           1     5.0
3      788542       0         0  ...            3.95           1     3.0
4      788542       0         1  ...            3.95           1     4.0

[5 rows x 8 columns]

In [167]:
df.to_csv(os.path.join("data","YN_afm_df2.csv"),index=False)

In [137]:
locations = pd.read_csv(os.path.join("data","locationsinfo.csv"))
locations

       locationId  ... category_l
0         4077917  ...          1
1        13833720  ...          1
2         9997022  ...          1
3         9250108  ...          1
4         7748199  ...          1
...           ...  ...        ...
16244     6621149  ...          1
16245      602902  ...          1
16246     6622670  ...          1
16247     8701595  ...          1
16248     6998634  ...          1

[16249 rows x 8 columns]

In [118]:
locations.index = locations.locationId

x = locations.locationId.tolist()
x = x[::-1]

locations = locations.reindex(index = x)
locations

            locationId  ... category_l
locationId              ...
6998634        6998634  ...          1
8701595        8701595  ...          1
6622670        6622670  ...          1
602902          602902  ...          1
6621149        6621149  ...          1
...                ...  ...        ...
7748199        7748199  ...          1
9250108        9250108  ...          1
9997022        9997022  ...          1
13833720      13833720  ...          1
4077917        4077917  ...          1

[16249 rows x 8 columns]

# train  

*train시 사용 columns*  
'locationId', 'createdDate', 'is_fch', 'is_local',
       'rated_count', 'average_photonum', 'average_rating', 'category_l' ,'user_visit_history'
  
*이 중 server 상에서 받을 정보*  

사용자에게 우리 데이터 중 일부 호텔(랜덤) 보여주고 이 중 간 호텔 및 호텔에 대한 평점 등을 받아,
가중치로 부여.  
-> 가본 적 있다. or 좋아하는 호텔 입력 받아  
-> 해당 id 입력으로 넘겨줘  
-> 'user_visit_history'에 * 가중치 열을 넣음

In [42]:
! python train.py --epochs 50 --lr 1e-4

Data Prepared...
X shape: (553625, 10)
num_feature 10
Data Prepared...
X shape: (16249, 10)
num_feature 10
2020-06-26 00:26:47.663733: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-06-26 00:26:47.688573: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7fe44cb5b990 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2020-06-26 00:26:47.688591: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
Start Training: Batch Size: 2560, Embedding Size: 10, Hidden Size: 64
WARNING:tensorflow:From /Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/array_grad.py:563: _EagerTensorBase.cpu (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.identity instead.
Traceback (most recent call last):
  File "train.py", line 96, in <module>
    train(epochs=args.epochs)
  File "train.py", line 80, in train
    loss = train_on_batch(model, optimizer, mse, x, y)
  File "train.py", line 56, in train_on_batch
    optimizer.apply_gradients(zip(grads, model.trainable_variables))
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/optimizer_v2/optimizer_v2.py", line 433, in apply_gradients
    self._create_hypers()
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/optimizer_v2/optimizer_v2.py", line 655, in _create_hypers
    aggregation=tf_variables.VariableAggregation.ONLY_FIRST_REPLICA)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/optimizer_v2/optimizer_v2.py", line 792, in add_weight
    initializer = initializers.get(initializer)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/initializers.py", line 203, in get
    return deserialize(identifier)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/initializers.py", line 186, in deserialize
    printable_module_name='initializer')
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/keras/utils/generic_utils.py", line 322, in deserialize_keras_object
    raise ValueError('Unknown ' + printable_module_name + ':' + object_name)
ValueError: Unknown initializer:1e-4

In [26]:
train.loc[train["is_fch"] == 11,"is_fch"] = 1
train['is_fch'].unique()

array([0, 1])

In [27]:
train.to_csv(os.path.join("data","YN_afm_df2.csv"), index=False)

In [ ]:
train.

In [14]:
test = pd.read_csv(os.path.join("data","locationsinfo.csv"))
test.head()

,locationId,place.name,is_fch,is_local,rated_count,average_photonum,average_rating,category_l
0,4077917,버터핑거 팬케이크 강남점,1,0,81,0.234568,4.111111,1
1,13833720,스타벅스 리져브 - 용산푸르지오써밋점,1,0,8,1.875000,4.125000,1
2,9997022,N 버거,1,1,21,1.619048,3.476190,1
3,9250108,한정식 수담,0,0,18,2.500000,4.166667,1
4,7748199,호밀밭,0,0,20,0.550000,4.300000,1

In [15]:
test.loc[test['locationId'].isin(train.loc[train['is_fch']==11]['locationId'].unique().tolist())]['place.name'].unique().tolist()

['컴포즈커피 - 종로학원가점',
 '미스터피자 서울대역점',
 '독도참치 홍제점',
 '하노이의 아침 서울역점',
 '아웃백스테이크하우스 구의점',
 '스타벅스 강남삼성타운점',
 '엉터리생고기 - 명동점']

In [168]:
train = pd.read_csv(os.path.join("data","YN_afm_df2.csv"))
test = pd.read_csv(os.path.join("data","locationsinfo.csv"))
test = test.drop(columns=['place.name'], axis=1)
X_train = train.iloc[:, 0:7]
X_test = test.iloc[:, 0:7]
Y_train = train.iloc[:, 7]

In [198]:
train.head()

   locationId  is_fch  is_local  ...  average_rating  category_l  rating
0      788542       0         1  ...            3.95           1     5.0
1      788542       0         1  ...            3.95           1     4.0
2      788542       0         0  ...            3.95           1     5.0
3      788542       0         0  ...            3.95           1     3.0
4      788542       0         1  ...            3.95           1     4.0

[5 rows x 8 columns]

In [199]:
test.head()

   locationId            place.name  ...  average_rating  category_l
0     4077917         버터핑거 팬케이크 강남점  ...        4.111111           1
1    13833720  스타벅스 리져브 - 용산푸르지오써밋점  ...        4.125000           1
2     9997022                  N 버거  ...        3.476190           1
3     9250108                한정식 수담  ...        4.166667           1
4     7748199                   호밀밭  ...        4.300000           1

[5 rows x 8 columns]

In [169]:
X_train

        locationId  is_fch  ...  average_rating  category_l
0           788542       0  ...         3.95000           1
1           788542       0  ...         3.95000           1
2           788542       0  ...         3.95000           1
3           788542       0  ...         3.95000           1
4           788542       0  ...         3.95000           1
...            ...     ...  ...             ...         ...
553620     6998634       0  ...         3.94723           1
553621     6998634       0  ...         3.94723           1
553622     6998634       0  ...         3.94723           1
553623     6998634       0  ...         3.94723           1
553624     6998634       0  ...         3.94723           1

[553625 rows x 7 columns]

In [170]:
Y_train

0         5.00000
1         4.00000
2         5.00000
3         3.00000
4         4.00000
           ...
553620    3.94723
553621    3.94723
553622    3.94723
553623    3.94723
553624    3.94723
Name: rating, Length: 553625, dtype: float64

In [193]:
train = pd.read_csv(os.path.join("data","YN_afm_df2.csv"))
test = pd.read_csv(os.path.join("data","locationsinfo.csv"))
print(train.shape, test.shape)

(553625, 8) (16249, 8)

In [194]:
train.head()

   locationId  is_fch  is_local  ...  average_rating  category_l  rating
0      788542       0         1  ...            3.95           1     5.0
1      788542       0         1  ...            3.95           1     4.0
2      788542       0         0  ...            3.95           1     5.0
3      788542       0         0  ...            3.95           1     3.0
4      788542       0         1  ...            3.95           1     4.0

[5 rows x 8 columns]

In [195]:
test.head()

   locationId            place.name  ...  average_rating  category_l
0     4077917         버터핑거 팬케이크 강남점  ...        4.111111           1
1    13833720  스타벅스 리져브 - 용산푸르지오써밋점  ...        4.125000           1
2     9997022                  N 버거  ...        3.476190           1
3     9250108                한정식 수담  ...        4.166667           1
4     7748199                   호밀밭  ...        4.300000           1

[5 rows x 8 columns]

In [187]:
train['is_train'] = 1
test['is_train'] = 0

In [188]:
df = pd.concat([train,test])
df.shape

(569874, 10)

In [190]:
df.to_csv(os.path.join("data","YN_afm_df3.csv"), index=False)

In [191]:
df.columns

Index(['locationId', 'is_fch', 'is_local', 'rated_count', 'average_photonum',
       'average_rating', 'category_l', 'rating', 'is_train', 'place.name'],
      dtype='object')

In [192]:
df.head()

   locationId  is_fch  is_local  ...  rating  is_train  place.name
0      788542       0         1  ...     5.0         1         NaN
1      788542       0         1  ...     4.0         1         NaN
2      788542       0         0  ...     5.0         1         NaN
3      788542       0         0  ...     3.0         1         NaN
4      788542       0         1  ...     4.0         1         NaN

[5 rows x 10 columns]

# 결과

In [136]:
from keras.models import load_model
from keras.models import model_from_json
import json

model_name = 'weights-epoch(1)-batch(2560)-embedding(10)-hidden(64)'


model.load_weights(os.path.join("weights", (model_name+'.h5')))
print("Loaded model from disk")

NameError: name 'model' is not defined

In [101]:
! python main.py --visited_ids [13833720] --top_n 10

Using TensorFlow backend.
Traceback (most recent call last):
  File "main.py", line 18, in <module>
    model = load_model(os.path.join("weights", "weights-epoch(50)-batch(2560)-embedding(10)-hidden(64).h5"))
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/keras/engine/saving.py", line 492, in load_wrapper
    return load_function(*args, **kwargs)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/keras/engine/saving.py", line 584, in load_model
    model = _deserialize_model(h5dict, custom_objects, compile)
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/keras/engine/saving.py", line 270, in _deserialize_model
    model_config = h5dict['model_config']
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/keras/utils/io_utils.py", line 318, in __getitem__
    raise ValueError('Cannot create group in read-only mode.')
ValueError: Cannot create group in read-only mode.

In [200]:
! python train.py --epochs 1

Data Prepared...
X shape: (553625, 11)
num_feature 11
Data Prepared...
X shape: (16249, 10)
num_feature 10
2020-06-25 16:53:43.607806: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-06-25 16:53:43.629052: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7fe438563320 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2020-06-25 16:53:43.629077: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version