# SAR 
* cooccurrence : 성능 그나마 아주 아주 아주 쪼끔 나옴 
* jaccard, lift : 성능 0...ㅎ

## 1. Load Data

In [3]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_columns', 25)

df = pd.read_csv(os.path.join("..","..","data","TA_User_Reviws_Korea_all_new_df.csv")
df.head()

,userID,rating,location.locationId,location.name,location.placeType,location.reviewSummary.count,location.reviewSummary.rating,location.reviewSummary.locationId,tripInfo.stayDate,userProfile.hometown.location.name
0,0,4,306130,Lotte Hotel Seoul,ACCOMMODATION,4033.0,4.5,306130.0,2016-02-29,Jakarta
1,0,2,6352819,VIP TRAVEL,ATTRACTION,276.0,4.5,6352819.0,2016-02-29,Jakarta
2,1,5,9033360,Haagen Dazs,EATERY,10.0,4.5,9033360.0,2015-08-31,Seoul
3,1,5,9017499,Gongcha,EATERY,8.0,4.0,9017499.0,2015-11-30,Seoul
4,1,5,4076062,Mr. Pizza Terminal,EATERY,7.0,4.0,4076062.0,2015-06-30,Seoul

In [5]:
COLUMNS = ['userID', 'location.locationId', 'rating', 'tripInfo.stayDate']
df = df.loc[:,COLUMNS]
df.head()

   userID  location.locationId  rating tripInfo.stayDate
0       0               306130       4        2016-02-29
1       0              6352819       2        2016-02-29
2       1              9033360       5        2015-08-31
3       1              9017499       5        2015-11-30
4       1              4076062       5        2015-06-30

## 2. git
* https://github.com/microsoft/recommenders/tree/master/reco_utils/recommender/sar

In [6]:
pip install git+https://github.com/microsoft/recommenders

Collecting git+https://github.com/microsoft/recommenders
  Cloning https://github.com/microsoft/recommenders to /tmp/pip-req-build-kn331z8d
  Running command git clone -q https://github.com/microsoft/recommenders /tmp/pip-req-build-kn331z8d
Building wheels for collected packages: reco-utils
  Building wheel for reco-utils (setup.py) ... done
  Created wheel for reco-utils: filename=reco_utils-2019.9-cp36-none-any.whl size=164194 sha256=a416450a2c0177d071787ed4e7983296c571ede72191b3cb804a18e50ea95a10
  Stored in directory: /tmp/pip-ephem-wheel-cache-0kmoj8zx/wheels/b4/1c/70/c3f6005781b2b5a3370ec55bdd75c10ed1b07456bdfb1a0524
Successfully built reco-utils
Installing collected packages: reco-utils
Successfully installed reco-utils-2019.9

In [8]:
!pip install papermill

Collecting papermill
  Downloading https://files.pythonhosted.org/packages/ed/70/69799316f1b92bc3518f1bbb71a8aaa2406e05ef73f15edf2b98fc23901c/papermill-2.1.1-py3-none-any.whl
Collecting tenacity
  Downloading https://files.pythonhosted.org/packages/b5/05/ff089032442058bd3386f9cd991cd88ccac81dca1494d78751621ee35e62/tenacity-6.2.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from papermill) (2.23.0)
Collecting black
  Downloading https://files.pythonhosted.org/packages/fd/bb/ad34bbc93d1bea3de086d7c59e528d4a503ac8fe318bd1fa48605584c3d2/black-19.10b0-py36-none-any.whl (97kB)
     |████████████████████████████████| 102kB 4.4MB/s
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from papermill) (5.3.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from papermill) (3.13)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from papermill) (7.1.2)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from papermill) (5.0.6)
Collecting ansiwrap
  Downloading https://files.pythonhosted.org/packages/03/50/43e775a63e0d632d9be3b3fa1c9b2cbaf3b7870d203655710a3426f47c26/ansiwrap-0.8.4-py2.py3-none-any.whl
Requirement already satisfied: tqdm>=4.32.2 in /usr/local/lib/python3.6/dist-packages (from papermill) (4.41.1)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from papermill) (0.3)
Collecting nbclient>=0.2.0
  Downloading https://files.pythonhosted.org/packages/e7/d8/65dac094885423b6a8e8c4e2071f980c81deecf0a66e70eed591c617402d/nbclient-0.3.1-py3-none-any.whl (70kB)
     |████████████████████████████████| 71kB 5.6MB/s
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from tenacity->papermill) (1.12.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->papermill) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->papermill) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->papermill) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->papermill) (1.24.3)
Collecting pathspec<1,>=0.6
  Downloading https://files.pythonhosted.org/packages/5d/d0/887c58853bd4b6ffc7aa9cdba4fc57d7b979b45888a6bd47e4568e1cf868/pathspec-0.8.0-py2.py3-none-any.whl
Collecting appdirs
  Downloading https://files.pythonhosted.org/packages/3b/00/2344469e2084fb287c2e0b57b72910309874c3245463acd6cf5e3db69324/appdirs-1.4.4-py2.py3-none-any.whl
Collecting toml>=0.9.4
  Downloading https://files.pythonhosted.org/packages/9f/e1/1b40b80f2e1663a6b9f497123c11d7d988c0919abbf3c3f2688e448c5363/toml-0.10.1-py2.py3-none-any.whl
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from black->papermill) (2019.12.20)
Requirement already satisfied: attrs>=18.1.0 in /usr/local/lib/python3.6/dist-packages (from black->papermill) (19.3.0)
Collecting typed-ast>=1.4.0
  Downloading https://files.pythonhosted.org/packages/90/ed/5459080d95eb87a02fe860d447197be63b6e2b5e9ff73c2b0a85622994f4/typed_ast-1.4.1-cp36-cp36m-manylinux1_x86_64.whl (737kB)
     |████████████████████████████████| 747kB 8.5MB/s
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->papermill) (2.8.1)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->papermill) (4.5.3)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->papermill) (4.6.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->papermill) (19.0.1)
Requirement already satisfied: traitlets in /usr/local/lib/python3.6/dist-packages (from jupyter-client->papermill) (4.3.3)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat->papermill) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->papermill) (2.6.0)
Collecting textwrap3>=0.9.2
  Downloading https://files.pythonhosted.org/packages/77/9c/a53e561d496ee5866bbeea4d3a850b3b545ed854f8a21007c1e0d872e94d/textwrap3-0.9.2-py2.py3-none-any.whl
Collecting nest-asyncio
  Downloading https://files.pythonhosted.org/packages/74/b4/b24e0a271fb78990c2c62238321686454824b1357ce7abcf20f431fd903d/nest_asyncio-1.3.3-py3-none-any.whl
Collecting async-generator
  Downloading https://files.pythonhosted.org/packages/71/52/39d20e03abd0ac9159c162ec24b93fbcaa111e8400308f2465432495ca2b/async_generator-1.10-py3-none-any.whl
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets->jupyter-client->papermill) (4.4.2)
ERROR: nbclient 0.3.1 has requirement jupyter-client>=6.1.0, but you'll have jupyter-client 5.3.4 which is incompatible.
Installing collected packages: tenacity, pathspec, appdirs, toml, typed-ast, black, textwrap3, ansiwrap, nest-asyncio, async-generator, nbclient, papermill
Successfully installed ansiwrap-0.8.4 appdirs-1.4.4 async-generator-1.10 black-19.10b0 nbclient-0.3.1 nest-asyncio-1.3.3 papermill-2.1.1 pathspec-0.8.0 tenacity-6.2.0 textwrap3-0.9.2 toml-0.10.1 typed-ast-1.4.1

In [0]:
import sys
sys.path.append("../../")

import itertools
import logging
import os

import papermill as pm

from reco_utils.dataset.python_splitters import python_stratified_split
from reco_utils.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k
from reco_utils.recommender.sar.sar_singlenode import SARSingleNode

In [0]:
import datetime
import time

## 3. Data Preprocessing

In [0]:
# top k items to recommend
TOP_K = 10
DATA_SIZE = df.shape[0]

In [0]:
df["tripInfo.stayDate"] = df.apply(lambda x : time.mktime(datetime.datetime.strptime(x["tripInfo.stayDate"], "%Y-%m-%d").timetuple()), axis=1)

In [26]:
df.head()

   userID  location.locationId  rating  tripInfo.stayDate
0       0               306130       4       1.456704e+09
1       0              6352819       2       1.456704e+09
2       1              9033360       5       1.440979e+09
3       1              9017499       5       1.448842e+09
4       1              4076062       5       1.435622e+09

In [0]:
header = {
    "col_user": "userID",
    "col_item": "location.locationId",
    "col_rating": "rating",
    "col_timestamp": "tripInfo.stayDate",
}

In [0]:
train, test = python_stratified_split(df, ratio=0.75, col_user=header["col_user"], col_item=header["col_item"], seed=42)

In [30]:
print(train.shape, test.shape)

(22167, 4) (6394, 4)

## 4. Modeling

In [0]:
model = SARSingleNode(
    similarity_type="cooccurrence", # jaccard, lift, cooccurrence 
    time_decay_coefficient=100, 
    time_now=None, 
    timedecay_formula=True, 
    **header
)

In [0]:
model.fit(train)

In [0]:
top_k = model.recommend_k_items(test, remove_seen=True)

In [61]:
display(top_k.head(20))

    userID  location.locationId  prediction
0        1              1169465    0.001202
1        1               553546    0.001172
2        1               324888    0.001117
3        1              2194168    0.001058
4        1               301815    0.000873
5        1               301253    0.000768
6        1              3477158    0.000735
7        1               592506    0.000723
8        1               306139    0.000718
9        1              1379963    0.000648
10       2               324888    0.236662
11       2              1379963    0.155741
12       2               592506    0.150169
13       2               320359    0.123903
14       2              1046419    0.111963
15       2               324907    0.094453
16       2               554582    0.090473
17       2              6671988    0.087554
18       2               554537    0.078799
19       2               301815    0.069513

In [62]:
top_k.loc[top_k["prediction"]!=0] ## ㅋㅋmuzi...?

       userID  location.locationId  prediction
0           1              1169465    0.001202
1           1               553546    0.001172
2           1               324888    0.001117
3           1              2194168    0.001058
4           1               301815    0.000873
...       ...                  ...         ...
17975    4552               308007    0.013322
17976    4552              1643534    0.013322
17977    4552             17678712    0.013322
17978    4552              3687319    0.013322
17979    4552               306130    0.013322

[17925 rows x 3 columns]

## 5. Evaluate the Result

In [0]:
# all ranking metrics have the same arguments
args = [test, top_k]
kwargs = dict(col_user='userID', 
              col_item='location.locationId', 
              col_rating='rating', 
              col_prediction='prediction', 
              relevancy_method='top_k', 
              k=TOP_K)

eval_map = map_at_k(*args, **kwargs)
eval_ndcg = ndcg_at_k(*args, **kwargs)
eval_precision = precision_at_k(*args, **kwargs)
eval_recall = recall_at_k(*args, **kwargs)

In [64]:
print(f"Model:",
      f"Top K:\t\t {TOP_K}",
      f"MAP:\t\t {eval_map:f}",
      f"NDCG:\t\t {eval_ndcg:f}",
      f"Precision@K:\t {eval_precision:f}",
      f"Recall@K:\t {eval_recall:f}", sep='\n')

Model:
Top K:		 10
MAP:		 0.101074
NDCG:		 0.146962
Precision@K:	 0.044661
Recall@K:	 0.211642