In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
new_df = pd.read_csv(os.path.join("..","..","data",'YN_final_df2.csv'))
new_df.head()

,rating,locationId,photonum,createdDate,is_fch,is_local,place.name,userID,average_photonum,average_rating,user_mean_rating,user_reviewcount,lat,lng,land.addr,category,rated_count,category_l
0,4.5,1150710065,0,2020-05-21 20:42:00,1,1,스타벅스 보라매공원R점,432293,0.164557,4.506329,4.5,1,37.492103,126.92355,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
1,5.0,1150710065,0,2019-06-28 01:11:03,1,1,스타벅스 보라매공원R점,135109,0.164557,4.506329,5.0,1,37.492103,126.92355,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
2,5.0,1150710065,0,2020-03-12 00:22:00,1,1,스타벅스 보라매공원R점,269138,0.164557,4.506329,5.0,1,37.492103,126.92355,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
3,5.0,1150710065,0,2020-02-16 17:06:00,1,1,스타벅스 보라매공원R점,246123,0.164557,4.506329,5.0,1,37.492103,126.92355,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
4,5.0,1150710065,0,2019-03-11 00:08:48,1,1,스타벅스 보라매공원R점,119248,0.164557,4.506329,5.0,1,37.492103,126.92355,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1

In [3]:
demo_ids = ['노보텔스위트앰배서더서울용산', '오리엔스호텔&레지던스', 
            '이비스 스타일 앰배서더 서울 용산', '그랜드 머큐어 앰배서더 호텔 앤 레지던스 서울 용산', 
            '아만티호텔서울', '롯데시티호텔 마포', '레스케이프 호텔','티마크그랜드호텔 명동' 
            ,'스몰하우스 빅도어', '소테츠호텔즈 더 스프라지르 서울 명동', '라마다프라자 서울호텔' ,
            '켄싱턴호텔 여의도', 'L7강남 바이 롯데' ,'TheK호텔 서울' ,'스테이락호텔',
            '프레지던트 호텔','포포인츠 바이 쉐라톤 서울 구로','서울53호텔', 
            '더스테이트 선유 호텔','신라스테이 광화문','호텔 더 디자이너스 청량리', 
            '스탠포드호텔코리아', '나인트리프리미어호텔 명동2' ,'노보텔 앰배서더 서울 강남'
            ,'코트야드 메리어트 서울 보타닉파크 호텔', '호텔 타워', '안다즈 서울강남',
            '신라스테이 서초', '페어필드바이메리어트서울호텔', '라이즈 오토그래프 컬렉션' ,
            '베스트웨스턴프리미어서울가든호텔' ,'머큐어 서울 앰배서더 강남 쏘도베' ,'명동멀린호텔' , 
            '신라스테이 마포' ,'코보스호텔' ,'코리아나 호텔', '코트야드 메리어트 서울 남대문' , 
            '강남패밀리호텔', '아트리움바비엥2' ,'오라카이 인사동 스위츠' , '더클래식500이그제큐티브레지던스펜타즈호텔' , 
            '롯데시티호텔 김포공항', '롯데호텔 L7명동' ,'목시서울인사동', '신라숍' , '호텔리안', 
            'Hotel in 9' ,'그라모스호텔', 'MEASeoul' ,'서머셋팰리스서울' , '토요코인호텔서울동대문'
            , '호텔 앳 홈', '어반플레이스 강남', 'G2 호텔' ,'토요코인 서울강남' , '퍼시픽호텔', 
            '트레블로지 동대문 호텔', '소테츠 호텔즈 더 스프라지르 서울 동대문' , '메리골드 호텔', 
            '호텔 그레이스리 서울' ,'롯데 호텔 서울', '인터컨티넨탈 서울 코엑스', '시그니엘 서울', 
            '그랜드 인터컨티넨탈 서울 파르나스', '노보텔 앰배서더 서울 용산', '오클라우드 호텔', 
            '반얀트리 클럽 앤 스파 서울', '포시즌스 호텔 서울', '호텔28 명동', '더 그랜드 호텔 명동', 
            '나인트리 호텔 명동', '플로라 호텔신신 서울 명동', '더 플라자', '아이비 빌 게스트하우스', 
            '서울 웨스틴 조선 호텔', '을지로 코업레지던스', '사보이호텔', '이비스 버젯 앰배서더 서울 동대문', 
            '호텔 코지 명동', '필스테이 명동 브띠끄', '트레블로지 명동 을지로호텔', '라마다 서울 동대문', 
            '서울앤호텔', '스테이 비 호텔 명동', '뉴국제호텔', '루미아 호텔', '밀레니엄 힐튼 서울', 
            '호텔 통 비바체 동대문', '그리드인호텔', '호텔 프린스 서울', 'JW 메리어트 동대문 스퀘어 서울', 
            '글로리 인', '호텔 아띠 충무로', '호텔 도마', '에이큐브 호텔', '이비스 앰배서더 서울 인사동', 
            '포 포인츠 바이 쉐라톤 서울 남산', '쉐라톤 서울 디큐브 시티 호텔', '파크 하얏트 서울', 
            '르 메르디앙 서울', '로얄 호텔 서울', '오크우드 프리미어 코엑스 센터','메이필드 호텔 앤 리조트', 
            '호텔 더 디자이너스 홍대', '센터마크 호텔', '프레이저 플레이스 센트럴 서울', '이비스 스타일 앰배서더 서울 강남',
            '티마크 호텔 명동', '노보텔 앰배서더 독산', '워커힐 더글라스 하우스', '베니키아 프리미어 호텔 베르누이', 
            '메이 플레이스 서울 동대문', '밀리오레 호텔 서울명동', '베스트 웨스턴 프리미어 강남' ,'에이퍼스트호텔 명동', 
            '임피리얼 팰리스 부티크 호텔', '도미 인 프리미엄 서울 가로수길', '호텔 아트리움', '올림픽 파크텔', 
            '더리센츠동대문호텔', '인사동 크라운호텔', '알로프트 서울 강남', '호텔 페이토 강남', '삼정 호텔', 
            '호텔 페이토 삼성', '아벤트리 호텔 종로', '에이메스 호텔', '브라운 스위트 레지던스', '센트럴 관광호텔', 
            '지 스테이 레지던스', '아이티더블유 호텔', '호텔 미도', '뉴월드호텔', '호스텔 코리아 11th - 창덕궁', 
            '메이커스호텔', '나인브릭호텔', '글래드 강남 코엑스 센터', '몽호텔', '골드리버호텔', '호텔 프리마 서울', 
            '호텔 로프트', '노블관광호텔']

demo_loc = new_df.loc[new_df['place.name'].isin(demo_ids)].drop_duplicates(['locationId'], keep='last')[['place.name','locationId']]
demo_loc.head()

                          place.name  locationId
415862                노보텔스위트앰배서더서울용산  1475741466
415993                   오리엔스호텔&레지던스    33880173
416144            이비스 스타일 앰배서더 서울 용산  1517144962
416521  그랜드 머큐어 앰배서더 호텔 앤 레지던스 서울 용산   958174664
416551                       아만티호텔서울    37903636

In [26]:
kr = pd.read_excel('/Users/baeyuna/Tobigs-Recommendation-Conf-Phase2/data/TA_호텔_한글이름_주소_정보.xlsx')
kr.head()

,location_id,name,latitude,longitude,address,web_url,rating
0,7613319,이비스 스타일 앰배서더 서울 명동,37.561660,126.98929,서울 서울특별시 중구 삼일대로 302,https://www.tripadvisor.co.kr/Hotel_Review-g29...,4.5
1,4412935,난지 캠핑장,37.569904,126.87241,서울 마포구 상암동 495-81,https://www.tripadvisor.co.kr/Hotel_Review-g29...,4.5
2,9452203,신라스테이 광화문,37.572440,126.98114,서울 종로구 삼봉로 71,https://www.tripadvisor.co.kr/Hotel_Review-g29...,4.5
3,12698628,이비스 스타일 앰배서더 서울 용산,37.531730,126.96336,서울 용산구 청파로20길 95 서울드래곤시티,https://www.tripadvisor.co.kr/Hotel_Review-g29...,4.5
4,9986158,코트야드 서울 남대문,37.561080,126.97658,서울 중구 남대문로 9,https://www.tripadvisor.co.kr/Hotel_Review-g29...,4.5

In [ ]:
for i in demo_loc['location_id'].values.tolist():
    for j in kr['location_id'].values.tolist():
        if i in j

In [ ]:
kr['location_id']

In [4]:
# 필요파일 불러오기.
wnd_vec = pd.read_csv(os.path.join("..","realtime_model",'wnd_global_vec2.csv'))
wnd_vec.index = wnd_vec['locationId']
wnd_vec = wnd_vec.drop(columns = ['locationId'], axis=1)

deepfm_vec = pd.read_csv(os.path.join("..","realtime_model",'deepFM_global_vec.csv'))
deepfm_vec.index = deepfm_vec['locationId']
deepfm_vec = deepfm_vec.drop(columns = ['locationId'], axis=1)

print('loaded')

loaded

In [5]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
import random

def cosim_id(df, vec, item_id):
    def cos_sim(A, B):
           return dot(A, B)/(norm(A)*norm(B)) 
    new_vec = vec.copy() 
    sim = []
    
    # 인풋 호텔 정보 데이터에 없는 경우 종료 
    if item_id not in vec.index.tolist():
        return 
        
    for i in range(len(vec)):
        sim.append(cos_sim(vec.loc[item_id,:], vec.iloc[i,:]))

    new_vec['sim'] = sim
    # sim 높은 순 
    new_vec = new_vec['sim'].reset_index().sort_values('sim', ascending=False)
    sim_sorted = new_vec['locationId'].tolist()
    # 인풋 호텔정보 빼고 유사도 높은 순대로 id 
    if item_id in sim_sorted:
        sim_sorted.remove(item_id) 
    return sim_sorted 


def sim_item(vec, df, item_id):
    top_id = cosim_id(df, vec, item_id)
    
    df = df.drop_duplicates(['locationId'], keep='last')
    recommend_rst = []
    for x in top_id:
        if df.loc[df['locationId']==x].category.values[0]== 'EAT':
            recommend_rst.append([df.loc[df['locationId']==x][['place.name', 'land.addr']]])
    return recommend_rst[:10]

In [12]:
# 해당아이템의 유사도순 관련 아이템 정렬 리스트
import pickle
import random

for i in range(len(demo_loc)):
    wnd_lst = sim_item(wnd_vec, new_df, demo_loc.iloc[i,1])
    deepfm_lst = sim_item(deepfm_vec, new_df, demo_loc.iloc[i,1])
    wnd_lst.append(deepfm_lst)
    wnd_lst = random.sample(wnd_lst, 10)
    
    path = os.path.join("..",'..',"data","sim_data_ensemble")
    if not os.path.exists(path):
        os.makedirs(path)
    
    with open(os.path.join(path, '{}_sim'.format(demo_loc.iloc[i,0])), 'wb') as f:
        pickle.dump(wnd_lst, f, pickle.HIGHEST_PROTOCOL)

TypeError: 'NoneType' object is not iterable

In [25]:
new_df['locationId'].nunique()

15888

In [24]:
demo_loc['locationId'].nunique()

143