https://nbviewer.jupyter.org/github/microsoft/recommenders/blob/master/notebooks/00_quick_start/sar_movielens.ipynb

In [60]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_columns', 25)

df = pd.read_json(os.path.join("..","..","data","TA_User_Reviws_Korea_all.json"))
df.head()

,id,language,reviewStatus,title,helpfulVotes,createdDate,publishedDate,rating,text,photoIds,photos,userId,...,userProfile.hometown.location.__typename,tripInfo,location.thumbnail,route,location.route,userProfile.route,location.reviewSummary,location.parent,userProfile.hometown.location.parent,userProfile.contributionCounts,location,userProfile.avatar
0,748454819,en,PUBLISHED,Great Hotel,0,2020-03-01,2020-03-01,5,I really enjoyed our stay here in Gracery Hote...,[453807126],"[{'id': 453807126, 'title': None, 'description...",F9AD0C1F6409A1574AD0AFC237D2A4CE,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,744980685,en,PUBLISHED,Vibrant and Trendy,0,2020-02-14,2020-02-13,5,This is a place for you to laidback and have s...,[],[],23EF5413495FF530151DB7E5C0FEF38D,...,LocationInformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,744978150,en,PUBLISHED,So Yummy!,0,2020-02-14,2020-02-13,4,The chicken was so delicious. its crisp and cr...,[],[],23EF5413495FF530151DB7E5C0FEF38D,...,LocationInformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,744977340,en,PUBLISHED,Super Luv,0,2020-02-14,2020-02-13,5,"First, the location. Its located just right be...",[],[],23EF5413495FF530151DB7E5C0FEF38D,...,LocationInformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,744973034,en,PUBLISHED,Chaotic Street Food,0,2020-02-14,2020-02-13,4,This is the place where you can shop any cosme...,[],[],23EF5413495FF530151DB7E5C0FEF38D,...,LocationInformation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
COLUMNS = ['rating', 'userId', 'location.locationId', 'location.placeType', 'location.reviewSummary.count', 'location.reviewSummary.rating', 'location.reviewSummary.locationId', 'tripInfo.stayDate', 'userProfile.hometown.location.name']
df = df.loc[:,COLUMNS]
df.head()

In [64]:
df.head()

,rating,userId,location.locationId,location.placeType,location.reviewSummary.count,location.reviewSummary.rating,location.reviewSummary.locationId,tripInfo.stayDate,userProfile.hometown.location.name
0,5,F9AD0C1F6409A1574AD0AFC237D2A4CE,14159911,ACCOMMODATION,86.0,4.0,14159911.0,2020-02-29,None
1,5,23EF5413495FF530151DB7E5C0FEF38D,1958940,ATTRACTION,2256.0,4.5,1958940.0,2020-01-31,Jakarta
2,4,23EF5413495FF530151DB7E5C0FEF38D,5979642,EATERY,25.0,4.5,5979642.0,2020-01-31,Jakarta
3,5,23EF5413495FF530151DB7E5C0FEF38D,13426084,ACCOMMODATION,232.0,4.5,13426084.0,2020-01-31,Jakarta
4,4,23EF5413495FF530151DB7E5C0FEF38D,553546,ATTRACTION,10353.0,4.5,553546.0,2019-12-31,Jakarta

In [0]:
# ! pip install papermill

In [0]:
import itertools
import logging
import os
import gc

import numpy as np
import pandas as pd
import papermill as pm
from sklearn.externals import joblib 

# from python_splitters import python_stratified_split
from python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as sk_split

from constants import (
    DEFAULT_ITEM_COL,
    DEFAULT_USER_COL,
    DEFAULT_TIMESTAMP_COL,
)
# from split_utils import (
#     process_split_ratio,
#     min_rating_filter_pandas,
#     split_pandas_data_with_ratios,
# )

import pandas as pd
import numpy as np
import math

from constants import DEFAULT_ITEM_COL, DEFAULT_USER_COL

try:
    from pyspark.sql.functions import col, broadcast
except ImportError:
    pass  # so the environment without spark doesn't break


def process_split_ratio(ratio):
    if isinstance(ratio, float):
        if ratio <= 0 or ratio >= 1:
            raise ValueError("Split ratio has to be between 0 and 1")

        multi = False
    elif isinstance(ratio, list):
        if any([x <= 0 for x in ratio]):
            raise ValueError(
                "All split ratios in the ratio list should be larger than 0."
            )

        # normalize split ratios if they are not summed to 1
        if math.fsum(ratio) != 1.0:
            ratio = [x / math.fsum(ratio) for x in ratio]

        multi = True
    else:
        raise TypeError("Split ratio should be either float or a list of floats.")

    return multi, ratio


def min_rating_filter_pandas(
    data,
    min_rating=1,
    filter_by="user",
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
):
    split_by_column, _ = _check_min_rating_filter(
        filter_by, min_rating, col_user, col_item
    )
    rating_filtered = data.groupby(split_by_column).filter(
        lambda x: len(x) >= min_rating
    )
    return rating_filtered


def min_rating_filter_spark(
    data,
    min_rating=1,
    filter_by="user",
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
):
    
    split_by_column, split_with_column = _check_min_rating_filter(
        filter_by, min_rating, col_user, col_item
    )
    rating_temp = (
        data.groupBy(split_by_column)
        .agg({split_with_column: "count"})
        .withColumnRenamed("count(" + split_with_column + ")", "n" + split_with_column)
        .where(col("n" + split_with_column) >= min_rating)
    )

    rating_filtered = data.join(broadcast(rating_temp), split_by_column).drop(
        "n" + split_with_column
    )
    return rating_filtered


def _check_min_rating_filter(filter_by, min_rating, col_user, col_item):
    if not (filter_by == "user" or filter_by == "item"):
        raise ValueError("filter_by should be either 'user' or 'item'.")

    if min_rating < 1:
        raise ValueError("min_rating should be integer and larger than or equal to 1.")

    split_by_column = col_user if filter_by == "user" else col_item
    split_with_column = col_item if filter_by == "user" else col_user
    return split_by_column, split_with_column


def split_pandas_data_with_ratios(data, ratios, seed=42, shuffle=False):
    
    if math.fsum(ratios) != 1.0:
        raise ValueError("The ratios have to sum to 1")

    split_index = np.cumsum(ratios).tolist()[:-1]

    if shuffle:
        data = data.sample(frac=1, random_state=seed)

    splits = np.split(data, [round(x * len(data)) for x in split_index])

    # Add split index (this makes splitting by group more efficient).
    for i in range(len(ratios)):
        splits[i]["split_index"] = i

    return splits


def _do_stratification(
    data,
    ratio=0.75,
    min_rating=1,
    filter_by="user",
    is_random=True,
    seed=42,
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
    col_timestamp=DEFAULT_TIMESTAMP_COL,
):
    # A few preliminary checks.
    if not (filter_by == "user" or filter_by == "item"):
        raise ValueError("filter_by should be either 'user' or 'item'.")

    if min_rating < 1:
        raise ValueError("min_rating should be integer and larger than or equal to 1.")

    if col_user not in data.columns:
        raise ValueError("Schema of data not valid. Missing User Col")

    if col_item not in data.columns:
        raise ValueError("Schema of data not valid. Missing Item Col")

    if not is_random:
        if col_timestamp not in data.columns:
            raise ValueError("Schema of data not valid. Missing Timestamp Col")

    multi_split, ratio = process_split_ratio(ratio)

    split_by_column = col_user if filter_by == "user" else col_item

    ratio = ratio if multi_split else [ratio, 1 - ratio]

    if min_rating > 1:
        data = min_rating_filter_pandas(
            data,
            min_rating=min_rating,
            filter_by=filter_by,
            col_user=col_user,
            col_item=col_item,
        )

    # Split by each group and aggregate splits together.
    splits = []

    # If it is for chronological splitting, the split will be performed in a random way.
    df_grouped = (
        data.sort_values(col_timestamp).groupby(split_by_column)
        if is_random is False
        else data.groupby(split_by_column)
    )

    for name, group in df_grouped:
        group_splits = split_pandas_data_with_ratios(
            df_grouped.get_group(name), ratio, shuffle=is_random, seed=seed
        )

        # Concatenate the list of split dataframes.
        concat_group_splits = pd.concat(group_splits)

        splits.append(concat_group_splits)

    # Concatenate splits for all the groups together.
    splits_all = pd.concat(splits)

    # Take split by split_index
    splits_list = [
        splits_all[splits_all["split_index"] == x].drop("split_index", axis=1)
        for x in range(len(ratio))
    ]

    return splits_list



def python_stratified_split(
    data,
    ratio=0.75,
    min_rating=1,
    filter_by="user",
    col_user=DEFAULT_USER_COL,
    col_item=DEFAULT_ITEM_COL,
    seed=42,
):

    return _do_stratification(
        data,
        ratio=ratio,
        min_rating=min_rating,
        filter_by=filter_by,
        col_user=col_user,
        col_item=col_item,
        is_random=True,
        seed=seed,
    )

In [100]:
# from datetime import datetime

# def convert_date(str_date):
#   return datetime.strptime(str_date, "%Y-%m-%d").date()

# df['stayDate'] = df['tripInfo.stayDate'].apply(convert_date)
# print(df.info())
# df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28561 entries, 1 to 37196
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   rating                              28561 non-null  int64
 1   userId                              28561 non-null  object
 2   location.locationId                 28561 non-null  int64
 3   location.placeType                  28561 non-null  object
 4   location.reviewSummary.count        28561 non-null  float64
 5   location.reviewSummary.rating       28561 non-null  float64
 6   location.reviewSummary.locationId   28561 non-null  float64
 7   tripInfo.stayDate                   28561 non-null  object
 8   userProfile.hometown.location.name  28561 non-null  object
 9   stayDate                            28561 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 2.4+ MB
None

,rating,userId,location.locationId,location.placeType,location.reviewSummary.count,location.reviewSummary.rating,location.reviewSummary.locationId,tripInfo.stayDate,userProfile.hometown.location.name,stayDate
1,5,23EF5413495FF530151DB7E5C0FEF38D,1958940,ATTRACTION,2256.0,4.5,1958940.0,2020-01-31,Jakarta,2020-01-31
2,4,23EF5413495FF530151DB7E5C0FEF38D,5979642,EATERY,25.0,4.5,5979642.0,2020-01-31,Jakarta,2020-01-31
3,5,23EF5413495FF530151DB7E5C0FEF38D,13426084,ACCOMMODATION,232.0,4.5,13426084.0,2020-01-31,Jakarta,2020-01-31
4,4,23EF5413495FF530151DB7E5C0FEF38D,553546,ATTRACTION,10353.0,4.5,553546.0,2019-12-31,Jakarta,2019-12-31
5,4,23EF5413495FF530151DB7E5C0FEF38D,324891,ATTRACTION,3111.0,4.0,324891.0,2019-12-31,Jakarta,2019-12-31

In [113]:
# users = df.groupby('userId')['userId'].agg([('users','count')]).reset_index().reset_index().iloc[:,:2]
# new_df = pd.merge(users,df, on='userId').rename(columns={'index':'userID'})
# new_df.head()

,userID,userId,rating,location.locationId,location.placeType,location.reviewSummary.count,location.reviewSummary.rating,location.reviewSummary.locationId,tripInfo.stayDate,userProfile.hometown.location.name,stayDate
0,0,0009720721B493BAE608AA592B9CE7AE,4,306130,ACCOMMODATION,4033.0,4.5,306130.0,2016-02-29,Jakarta,2016-02-29
1,0,0009720721B493BAE608AA592B9CE7AE,2,6352819,ATTRACTION,276.0,4.5,6352819.0,2016-02-29,Jakarta,2016-02-29
2,1,00150C8ACD87B7A3A54497D923CB3358,5,9033360,EATERY,10.0,4.5,9033360.0,2015-08-31,Seoul,2015-08-31
3,1,00150C8ACD87B7A3A54497D923CB3358,5,9017499,EATERY,8.0,4.0,9017499.0,2015-11-30,Seoul,2015-11-30
4,1,00150C8ACD87B7A3A54497D923CB3358,5,4076062,EATERY,7.0,4.0,4076062.0,2015-06-30,Seoul,2015-06-30

In [ ]:
new_df = pd.read_csv(os.path.join("..","..","data","TA_User_Reviws_Korea_all_new_df.csv"))
new_df.head(5)

In [0]:
# Constants to be used
TOP_K = 10
USER, ITEM, RATING, TIME, PRED = 'userID', 'location.locationId', 'rating', 'stayDate', 'SCORE'

In [115]:
data = new_df.loc[:,[USER,ITEM,RATING,TIME]]
data

       userID  location.locationId  rating    stayDate
0           0               306130       4  2016-02-29
1           0              6352819       2  2016-02-29
2           1              9033360       5  2015-08-31
3           1              9017499       5  2015-11-30
4           1              4076062       5  2015-06-30
...       ...                  ...     ...         ...
28556    4555              4105582       5  2015-07-31
28557    4556               306126       2  2016-11-30
28558    4557              8692662       4  2019-03-31
28559    4558              7358712       4  2019-05-31
28560    4559               306139       5  2018-10-31

[28561 rows x 4 columns]

In [0]:
# 반드시 실행해야 함!
header = {
    "col_user": USER,
    "col_item": ITEM,
    "col_rating": RATING,
    "col_timestamp": TIME,
    "col_prediction": PRED,
}

In [0]:
# 이미 데이터가 나누어져 있으면 이 부분 Skip하고, 나누어진 데이터를 train과 test 이름의 변수에 저장!
train, test = python_stratified_split(data, ratio=0.75, col_user=header["col_user"], col_item=header["col_item"], seed=42)

In [118]:
print('train shape:', train.shape, 'test shape:', test.shape)

train shape: (22167, 4) test shape: (6394, 4)

In [119]:
# 이미 데이터가 나누어져 있으면 이 부분 Skip !
# 객체를 pickled binary file 형태로 저장한다 
joblib.dump([data, train, test], 'sar_data.pkl')

del data; gc.collect()

374

### Build SAR Model

In [0]:
from sar_singlenode import SARSingleNode

In [0]:
# 이 부분부터 아래 끝까지 실행해야 함!

# set log level to INFO
logging.basicConfig(level=logging.DEBUG, 
                    format='%(asctime)s %(levelname)-8s %(message)s')

model = SARSingleNode(
    similarity_type='cooccurrence',   # 'jaccard', 'lift', 'cooccurrence' 
    time_decay_coefficient=30, 
    time_now=None, 
    timedecay_formula=True, 
#    normalize=True,
    **header
)

In [122]:
model.fit(train)
#joblib.dump(model, 'sar_model.pkl')

2020-05-26 11:13:07,559 INFO     Collecting user affinity matrix
2020-05-26 11:13:07,569 INFO     Calculating time-decayed affinities

TypeError: ignored

### Make Recommendations

In [0]:
top_k = model.recommend_k_items(test, remove_seen=True)
#joblib.dump(top_k, 'sar_top_k.pkl')
top_k.head(10)

### Evaluate SAR Model

In [0]:
args = [test, top_k]
kwargs = dict(col_user=USER, 
              col_item=ITEM, 
              col_rating=RATING, 
              col_prediction=PRED, 
              relevancy_method='top_k', 
              k=TOP_K)

#eval_map = map_at_k(*args, **kwargs)
#eval_ndcg = ndcg_at_k(*args, **kwargs)
eval_precision = precision_at_k(*args, **kwargs)
eval_recall = recall_at_k(*args, **kwargs)

print(f"Model:",
      f"Top K:\t\t {TOP_K}",
#      f"MAP:\t\t {eval_map:f}",
#      f"NDCG:\t\t {eval_ndcg:f}",
      f"Precision@K:\t {eval_precision:f}",
      f"Recall@K:\t {eval_recall:f}", sep='\n')