In [53]:
! python YN_model.py --local_gloabal 'global' --model 'wnd' --path "../realtime_model" --item_id 788542 --top 10

Using TensorFlow backend.
input hotel: 마르코 폴로
----------
top 1 63뷔페 파빌리온
  주소 서울 영등포구 63로 50
top 2 쟈니덤플링
  주소 서울 용산구 보광로59길 5
top 3 알마토
  주소 서울 신흥로 41-1
top 4 노리타
  주소 서울 충무로1가 22-5
top 5 백미당
  주소 서울 강서구 하늘길 112 4층
top 6 나인스게이트
  주소 서울 중구 소공동 87  웨스틴 조선호텔 1층 1F, Westin Chosun Hotel
top 7 민소한우
  주소 서울 국제금융로2길 37
top 8 박가네 빈대떡
  주소 서울 종로5가 광장시장
top 9 서울리스타 커피&펍
  주소 서울 중구 퇴계로 19 호텔마누 1~2층
top 10 스즈란테이
  주소 서울 강서구 공항대로 269-15
None

In [60]:
! python YN_model.py --local_gloabal 'global' --model 'wnd' --path "../realtime_model" --item_id 788542 --top 10

Using TensorFlow backend.
input hotel: 마르코 폴로
----------
top 1 버터핑거 팬케이크 강남점
  주소 서울 서초구 서초동 1317
top 2 빵꼼마
  주소 서울 마포구 양화로21길 23
top 3 명동한식당
  주소 서울 삼일대로 401-48
top 4 IQ84CHURROS
  주소 서울 강남대로102길 16
top 5 스타벅스 리져브 - 용산푸르지오써밋점
  주소 서울 용산구 한강로2가 391
top 6 빠나미
  주소 서울 한강대로 416
top 7 빠나미
  주소 서울 테헤란로87길 22
top 8 N 버거
  주소 서울 용산구 남산공원길 105 N 서울 타워 플라자 1층
top 9 한국 갈비
  주소 서울 중구 명동2가 93-2
top 10 옴
  주소 서울 어울마당로 126
None

In [59]:
! python YN_model.py --local_gloabal 'local' --model 'wnd' --path "../realtime_model" --item_id 3477158 --top 10

Using TensorFlow backend.
input hotel: Conrad Seoul
----------
top 1 쭈꾸미도사
  주소 서울특별시 강동구 성내동 11-9
top 2 무한야끼
  주소 서울특별시 강서구 마곡동 774-9 사이언스타
top 3 미야기
  주소 서울특별시 강남구 논현동 212-19
top 4 형제육회
  주소 서울특별시 종로구 종로4가 181-1
top 5 퍼줄래일번지대박집
  주소 서울특별시 마포구 염리동 147-27
top 6 라따블
  주소 서울특별시 중구 명동1가 59-5 명동 토투앤,엠버서더호텔
top 7 벨라스가든
  주소 서울특별시 송파구 송파동 32-2 더블유123빌딩
top 8 일품중화요리
  주소 서울특별시 강남구 역삼2동 707-34 한신인터밸리24빌딩
top 9 푸하하크림빵
  주소 서울특별시 마포구 합정동 474 합정한강아파트
top 10 상수돼집
  주소 서울특별시 마포구 상수동 317-10
None

In [ ]:
! python YN_model.py --local_gloabal 'local' --model 'deepFM' --path "../realtime_model" --item_id 3477158 --top 10